@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Elsie:wght@900&family=Montserrat:wght@400;600;700&family=Roboto:wght@400;500;700&display=swap');

body {
    max-width: 1920px;
    margin : auto;
    position: relative;
   
}

.linkEffect {
    
    transform: translate(-100%);
    transition: all ease-in 0.2s;
}

.navlink:hover .linkEffect{
    transform: translate(0);
}